<div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">{{ 'Languages' | translate }}</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">{{ 'Language1' | translate }}</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                        style="width: 90%;"></div>
                      <span class="progress-value">{{ 'Language1Level' | translate }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">{{ 'Language2' | translate }}</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                        style="width: 50%;"></div>
                      <span class="progress-value">{{ 'Language2Level' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>