<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">{{ 'MainStudies' | translate }}</div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2016</p>
              <div class="h5">{{ 'Degree' | translate }}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{ 'DegreeDescription' | translate }}</div>
               <h4 class="category">Universidad Complutense de Madrid
               </h4>
               <ul>
                <li>{{ 'DegreeSpeciality' | translate }}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2017</p>
              <div class="h5">{{ 'Mástersdegree' | translate }}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{ 'MástersdegreeDescription' | translate }}</div>
               <h4 class="category">Universidad de Granada
               </h4>
               <ul>
                <li>{{ 'MástersdegreeSpeciality' | translate }}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="h4 text-center mb-4 title">{{ 'ComplementaryStudies' | translate }}</div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>10/17</p>
              <div class="h5">{{ 'ComplementaryStudies1' | translate }}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body pt-35x">
              <div class="h5">{{ 'ComplementaryStudiesDescription1' | translate }}</div>
               <h4 class="category">Instituto Cervantes de Roma
               </h4>
               <ul>
                <li>{{ 'ComplementaryStudiesSpeciality1' | translate }}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>  

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header pt-50x">
              <p>04/18 – 03/19</p>
              <div class="h5">{{ 'ComplementaryStudies2' | translate }}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Jornadas Difusión X</div>
               <h4 class="category">Editorial Difusión
               </h4>
               <ul>
                <li>{{ 'ComplementaryStudies1Speciality2' | translate }}</li>
             </ul>
             <div class="h5">Jornadas Difusión IX</div>
               <h4 class="category">Editorial Difusión
               </h4>
               <ul>
                <li>{{ 'ComplementaryStudies1Speciality2' | translate }}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header pt-50x">
              <p>05/19 - Act.</p>
              <div class="h5">{{ 'ComplementaryStudies3' | translate }}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{ 'ComplementaryStudiesDescription3' | translate }}</div>
               <h4 class="category">Udemy
               </h4>
               <ul>
                <li>{{ 'ComplementaryStudiesSpeciality3' | translate }}</li>
             </ul>
             <div class="h5">{{ 'ComplementaryStudiesDescription4' | translate }}</div>
               <h4 class="category">Udemy
               </h4>
               <ul>
                <li>{{ 'ComplementaryStudiesSpeciality4' | translate }}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>     

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header pt-20x">
              <p>11/19 - Act.</p>
              <div class="h5">{{ 'ComplementaryStudies4' | translate }}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body pt-35x">
              <div class="h5">{{ 'ComplementaryStudiesDescription5' | translate }}</div>
               <h4 class="category">ISTRAD
               </h4>
               <ul>
                <li>{{ 'ComplementaryStudiesSpeciality5' | translate }}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>  

    </div>
  </div>