<!-- <div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Proyectos</div>
            
     <div class="row">

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
    <div class="card" >
    <img class="card-img-top" src="assets/images/tictactoe.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">TicTacToe</h4>
        <h5 class="card-text"><b>Tecnologias:</b></h5>
        <h5>React</h5>
        <div class="d-flex align-self-center justify-content-center">
        <a href="https://github.com/DavidZam/tictactoe" class="btn btn-primary stretched-link">GitHub</a>
      </div>
    </div>
    </div>
    </div>
  </div> 
    
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <a href="https://play.google.com/store/apps/details?id=es.lost2found" target="_blank">
          <img class="card-img-top" src="assets/images/lost2found.png" alt="Card image" style="width:100%">
        </a>
        <div class="card-body">
            <h4 class="card-title font-weight-normal">Trabajo de fin de grado: <strong>Lost2Found</strong>: Encuentra tus objetos perdidos</h4>
            <h5 class="card-text"><b>Tecnologias:</b></h5>
            <h5>Android, PHP, SQL</h5>
      
            <div class="row">
              <div class="col-md-6 d-flex align-self-center justify-content-center">
                <h5 class="card-text"><a href="https://eprints.ucm.es/48867/1/085.pdf">Memoria</a></h5>
              </div>
              <div class="col-md-6 d-flex align-self-center justify-content-center">
                <a href="https://github.com/DavidZam/Lost2Found" class="btn btn-primary stretched-link">GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/appChat.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Pagina web de un chat para melómanos</h4>
          <h5 class="card-text"><b>Tecnologias:</b></h5>
          <h5>HTML5, CSS3, PHP, SQL</h5>
          <div class="d-flex align-self-center justify-content-center">
            <a href="https://github.com/DavidZam/appChat" class="btn btn-primary stretched-link">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/aw.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Web de subastas inversas</h4>
           <h5 class="card-text"><b>Tecnologias:</b></h5>
           <h5>HTML5, CSS3, SQL</h5>
           <div class="d-flex align-self-center justify-content-center">
            <a href="https://github.com/DavidZam/ReverseBid" class="btn btn-primary stretched-link">GitHub</a>
          </div>
        </div>
    </div>
    </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/java.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">JavaGames</h4>
           <h5 class="card-text"><b>Tecnologias:</b></h5>
           <h5>Java</h5>
           <div class="d-flex align-self-center justify-content-center">
            <a href="https://github.com/DavidZam/JavaGames" class="btn btn-primary stretched-link">GitHub</a>
          </div>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/cpp.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">ColorCrush</h4>
           <h5 class="card-text"><b>Tecnologias:</b></h5>
           <h5>C++</h5>
           <div class="d-flex align-self-center justify-content-center">
            <a href="https://github.com/DavidZam/ColorCrush" class="btn btn-primary stretched-link">GitHub</a>
          </div>
        </div>
        </div>
        </div>
      </div> -->
      
      <!-- <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="blog-entry">
         <div class="card" >
          <img class="card-img-top" src="assets/images/sc.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Madlife: Información sobre series y películas</h4>
             <h5 class="card-text"><b>Tecnologias:</b></h5>
             <h5>Drupal</h5>
          </div>
          </div>
          </div>
        </div> -->
      
    <!-- </div>
    </div>
  </div> -->