<div class="profile-page" id="intro">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="blue">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/world.jpeg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img class="w-16" src="assets/images/juan.jpg" alt="Image" />
              </a>
            </div>
            <div class="h2 title">Juan Zamora</div>
            <p class="category text-white">{{ 'Position' | translate }}</p>
            <a class="btn btn-primary"
              href="https://drive.google.com/open?id=1IHvXEeOdO17VNEv6FfBhqsuVX-spIT-a" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">{{ 'CV' | translate }}</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/davidzamorarey"
                target="_blank" rel="tooltip">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>